@model DfwLabRescue.Web.Models.Content
@{
    ViewBag.Title = "ContentPage";
}

@section Css {
    <!-- CSS Pages Style -->
    @if (!string.IsNullOrEmpty(Model.CssFile))
    {
        <link rel="stylesheet" href="@Model.CssFile">
    }
    <link href="~/Scripts/raptor/raptor.min.css" rel="stylesheet" />
    <link href="~/Scripts/raptor/raptor-front-end.min.css" rel="stylesheet" />
}

@if (Model.Breadcrumbs)
{
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">@Model.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="~/">Home</a></li>
                <li class="active">@Model.Title</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
}

<div data-id="@Model.ContentId" class="raptor">
    @Html.Raw(Model.RawHtml)
</div>


<div class="modal fade image-upload-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top:300px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">File Upload</h4>
            </div>
            <div class="modal-body">
                <h3>Upload Files</h3>
                <input id="fileupload" type="file" name="files" data-url="@Url.Content("~/Content/upload")" multiple>
                <h4>Uploaded Files</h4>
                <p>After done uploading, copy and paste the URL below and use in the insert file dialog</p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul id="uploaded-files" class="list-unstyled margin-bottom-20"></ul>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
@section pluginJavaScript {
    <script type="text/javascript" src="~/Scripts/raptor/raptor.min.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
}

@section pageJavaScript {
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            $(function () {
                $('.raptor').raptor({
                    plugins: {
                        draggable: false,
                        dock: {
                            dockToElement: true
                        },
                        save: {
                            plugin: 'saveJson'
                        },
                        saveJson: {
                            url: '/api/Content',
                            postName: 'raptorContent',
                            id: function () {
                                return this.raptor.getElement().data('id');
                            }
                        }
                    },
                    bind: {
                        layoutShow: function () {
                            if ($('.raptor-ui-upload-file').length == 0) {
                                var insertImageEl = $('<div data-toggle="modal" data-target=".image-upload-modal" class="raptor-ui-upload-file ui-button ui-widget ui-state-default ui-button-icon-only ui-corner-right" role="button" aria-disabled="false" data-title="Upload file"><span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span><span class="ui-button-text"></span></div>');
                                var $element = $('.raptor-ui-insert-file');
                                $element.after(insertImageEl);
                            }
                        }
                    }
                });

                $('#fileupload').fileupload({
                    dataType: 'json',
                    done: function (e, data) {
                        $.each(data.result.files, function (index, file) {
                            $('<li><i class="fa fa-check color-green"></i> ' + file.url + '</li>').appendTo($('#uploaded-files'));
                        });
                    }
                });
            });

        </script>
    }
}