@model DfwLabRescue.Web.Models.Content
@{
    ViewBag.Title = "ContentPage";
}

@section Css {
    <!-- CSS Pages Style -->
    @if (!string.IsNullOrEmpty(Model.CssFile))
    {
        <link rel="stylesheet" href="@Model.CssFile">
    }
    <link href="~/Scripts/raptor/raptor.min.css" rel="stylesheet" />
    <link href="~/Scripts/raptor/raptor-front-end.min.css" rel="stylesheet" />
    <link href="~/Content/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet" />
}

@if (Model.Breadcrumbs)
{
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">@Model.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="~/">Home</a></li>
                <li class="active">@Model.Title</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
}

<div data-id="@Model.ContentId" class="raptor">
    @Html.Raw(Model.RawHtml)
</div>


<div class="modal fade image-upload-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top:300px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">File Upload</h4>
            </div>
            <div class="modal-body">
                <p>Upload files to be used on content pages. Once a file has been uploaded, simply copy the relative url and use the Insert File button from the toolbar!</p>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input id="fileupload" type="file" name="files" data-url="@Url.Content("~/api/imageupload")" multiple>
                </span>
                <hr />
                <ul id="uploaded-files" class="list-unstyled margin-bottom-20"></ul>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
@section pluginJavaScript {
    <script type="text/javascript" src="~/Scripts/raptor/raptor.min.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
}

@section pageJavaScript {
    <script src="~/assets/js/pages/content.js"></script>
    <script type="text/javascript">
        $(function () {
            Content.init(@User.Identity.IsAuthenticated.ToString().ToLower());
        });
    </script>
}