<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="dfwLabRescueApp">
<!--<![endif]-->
<head>
    <title>DFW Lab Rescue | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">

    @RenderSection("Css", false)

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/themes/orange.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>

    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header dfwlr-header">
            <!-- Navbar -->
            <div class="container">
                <div class="topbar">
                        <!-- Topbar Navigation -->
                        <ul class="loginbar pull-right">
                            <li><a href="page_login.html">Login</a></li>
                        </ul>
                        <!-- End Topbar Navigation -->
                </div>
                <div class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img id="logo-header" src="/assets/img/dfwlr_logo_long.png" alt="Logo" class="img-responsive">
                        </a>
                    </div>

                    @Html.Partial((string)ViewBag.NavPartial)
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        @RenderBody()

        @if (ViewBag.FooterPartial != null) { Html.RenderPartial((string)ViewBag.FooterPartial); }

        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @DateTime.Now.Year &copy; DFW Lab Rescue. ALL Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="index.html">
                            <img class="pull-right" id="logo-footer" src="/assets/img/dfwlr_logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div><!--/copyright-->
        <!--=== End Copyright ===-->
    </div><!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular.js"></script>
    <script type="text/javascript" src="/app/js/controllers.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/ckeditor.js"></script>
    @RenderSection("pluginJavaScript", false)
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    @RenderSection("pageJavaScript", false)
    <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.js"></script>
    <![endif]-->

</body>
</html>	