@{
    ViewBag.Title = "Index";
}

@section Css {
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
}

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>Be a Hero - Save a Lab</i><br /><i><span class="counter">@ViewBag.AdoptedCount</span> Labs Adopted in @DateTime.Now.Year</i></h2>
            <p class="hero-paragraph">
                <i>Even Labrador Retrievers, America's most popular dogs,</i><br /><i> need a little help sometimes. Partner with the DFW Labrador </i><br /><i>Retriever Rescue Club and be a hero to a deserving Lab </i>
                <br /><i>by volunteering, fostering or adopting. Make a difference</i>
                <br /><i> in a Lab's life and watch them change yours.</i>
            </p>
            <div class="da-img hero-heading">
                <img src="/assets/img/hero_lg.png" alt="" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Be a Lifeline</i><br /><i>For every lab</i><br /><i>How can you help?</i></h2>
            <p><i>Volunteer, Foster, Adopt, Donate</i><br /><i>Meet-N-Greets, Home Studies</i><br /><i> Committes &amp; Support</i></p>
            <div class="da-img">
                <iframe width="530" height="300" src="//www.youtube.com/embed/dRgmxUDlrKA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->
<!--=== Adoption Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>The Dallas Fort Worth Labrador Retriever Rescue Club, Inc. (DFWLR-RC)</span>
                <p>
                    DFW Lab Rescue is dedicated to alleviating the needless death and suffering of home-less or misplaced (lost and stray) purebred Labrador Retrievers in the Dallas Fort Worth area.
                    By rescuing and rehabilitating homeless Labradors in our community, vigorously promoting responsible dog ownership through active participation in pet-related events, and through our own education program, we strive for a better life for each of our animals.
                </p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <a href="~/Content/AdoptionProcess" class="btn-u btn-u-lg"><i class="fa fa-list-alt"></i>&nbsp;Apply for Adoption</a>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Adoption Block -->
<!--=== Content Part ===-->
<div class="container content">
    <!-- Highlights Blocks -->
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-calendar service-icon"></i>
                <div class="desc">
                    <a href="#"><h4>Upcoming Events</h4></a>
                    <p>We have events almost every week all over the DFW area so our labs can find their forever home. Our event calendar always has the most up to date information for local Meet & Greets and special events. Come out today, be a hero to a deserving lab, and find your best friend!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-home service-icon"></i>
                <div class="desc">
                    <a href="#"><h4>Become a Foster</h4></a>
                    <p>
                        They arrive by the dozens every day: helpless Labs, who are sick, injured or abused...puppies who are too young up for adoption, great Labs that no one had time for pets whose families are in crisis, all surrendered to shelters in the DFW Metroplex!
                        To get the second chance they deserve, these Labs desperately need foster care.
                        If you love and care about Labs and want to help them enjoy the lives they deserve, please become a DFW Lab Rescue foster-care provider today!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-globe service-icon"></i>
                <div class="desc">
                    <a href="#"><h4>Shop</h4></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Highlights Blokcs -->
    <!-- Dogs -->
    <div class="headline"><h2>Dogs Available for Adoption</h2></div>
    <div class="row margin-bottom-20">
        @foreach (DfwLabRescue.Web.Models.Dog dog in (IEnumerable<DfwLabRescue.Web.Models.Dog>)ViewBag.AvailableDogs)
        {
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="@dog.Photo1" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="@Url.Action("Dog", "Dogs", new {id = @dog.Id, name = @dog.Name})">read more +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#"><strong>@dog.Name</strong> - <i>@dog.Age @dog.Gender</i> </a></h3>
                        <p>@dog.Summary</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- End Dogs -->

    <div class="owl-carousel-v1">
        <div class="headline"><h2>DFW Lab Rescue Store</h2></div>        
        <p>Help support our labs and look good while doing it! To see a listing of all products, <a target="_blank" href="http://www.cafepress.com/dfwlrrc">Click Here!</a></p>

        <div class="owl-navigation">
            <div class="customNavigation">
                <a class="owl-btn prev-v1"><i class="fa fa-angle-left"></i></a>
                <a class="owl-btn next-v1"><i class="fa fa-angle-right"></i></a>
            </div>
        </div><!--/navigation-->

        <div class="owl-slider" ng-controller="StoreCtrl">
            <div ng-repeat="product in products" class="item">
                <a href="{{product.linkurl}}" target="_blank">
                    <img class="img-responsive" src="{{product.imageurl}}" alt="">
                </a>
                <h2>{{product.caption}}</h2>
            </div>
        </div>
    </div>

    <!-- Our Clients -->
    @*<div id="clients-flexslider" class="flexslider home clients">
            <div class="headline"><h2>DFW Lab Rescue Store!</h2></div>
            <ul class="slides" ng-controller="StoreCtrl">
                <li ng-repeat="product in products">
                    <a href="#">{{product.caption}}</a>
                </li>
            </ul>
        </div>*@<!--/flexslider-->
    <!-- End Our Clients -->
</div><!--/container-->
<!-- End Content Part -->
@section pluginJavaScript {
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="~/assets/plugins/counter/waypoints.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/counter/jquery.counterup.min.js"></script>
    <script src="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
}

@section pageJavaScript {
    <script type="text/javascript" src="/assets/js/pages/index.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Index.initParallaxSlider();
            App.initCounter();
            $('.owl-carousel-v1').hide();
            setTimeout(function () {
                OwlCarousel.initOwlCarousel();
                $('.owl-carousel-v1').fadeIn();
            }, 500);
        });
    </script>
}
